


  <%= form_tag search_books_path, method: :get do %>
    <div class="field">
      <%= label_tag :query, "Search book name:" %>
      <%= text_field_tag :query, params[:query] %>
    </div>
    <div class="field">
      <%= label_tag :genre, "Genre" %>
      <%= select_tag :genre, options_for_select(Genre.all.map { |g| [g.name, g.id] }, params[:genre]), include_blank: true %>
    </div>
    <%= submit_tag "Search" %>
  <% end %>

  <h1>Menu</h1>
  <%= paginate @books %>
  <ul>
    <% @books.each do |book| %>
      <li>
        <%= link_to book.title, book_path(book) %>
        <ul>
          <li><strong>Author:</strong> <%= book.author.name %></li>
          <li>
            <strong>Genres:</strong>
            <ul>
              <% book.genres.each do |genre| %>
                <li><%= genre.name %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>

