<%= form_tag search_books_path, method: :get, class: "form-inline mb-3 bg-primary text-light" do %>
  <div class="form-group mr-2">
    <%= label_tag :query, "Search book name:", class: "mr-2 text-light" %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
  </div>
  <div class="form-group mr-2">
    <%= label_tag :genre, "Genre:", class: "mr-2 text-light" %>
    <%= select_tag :genre, options_for_select(Genre.all.map { |g| [g.name, g.id] }, params[:genre]), { include_blank: true, class: "form-control" } %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary text-light" %>
<% end %>

<h1 class="text-primary">Books</h1>
<%= paginate @books, class: "pagination" %>
<ul class="list-group">
  <% @books.each do |book| %>
    <li class="list-group-item bg-light text-dark">
      <%= link_to book.title, book_path(book), class: "text-primary"  %>
      <ul>
        <li><strong>Author:</strong> <%= book.author.name %></li>
        <li>
          <strong>Genres:</strong>
          <ul>
            <% book.genres.each do |genre| %>
              <li><%= genre.name %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
